body {
 width:100%;
}
header {
  height: auto;
  width: inherit;
  font-size: x-large;
  text-decoration: underline;
}
.Span1 {
  width:50%;
  text-decoration:inherit;
}
.Span2 {
  position:relative;
  margin-left:50%;
  float:right;
  width:100px;
}
main {
  width: inherit;
  height: auto;
}
.Section1 {
position:absolute;
  width:50%;
  height:300px;
}
.BillsData, .BillsData td, th {
  border: 1px solid black;
}
.BillsData {
width:auto;
}
.Amounts {
  text-align: right;
}
.Section2 {
  position:relative;
  margin-left: 50%;
  width: 50%;
  height: 300px;
}
.Form {
position: absolute;
    right: 10px;
    width: auto;
	/*float:right;
	width:auto;*/
}
legend {
  font-style: italic;
}
.frmBtn {
  text-align: center;
}
.Section3 {
width: inherit;
height: auto;
}
#piechart {
position: absolute;
    right: 10px;
    width: 320px;
height: 240px;
border: 1px solid;
}