/* style sheet */
header {
  position:absolute;
  top: 0px;
  left: 30px;
  height: 50px;
  width: 700px;
  font-size: x-large;
  text-decoration: underline;
  }
.Span1 {
  position:inherit;
  width:350px;
  text-decoration:inherit;
  }
.Span2 {
  position:inherit;
  left:350px;
  width:350px;
  text-align: right;
  }
main {
  position: absolute;
  top: 50px;
  left: 30px;
  min-height: 600px;
  width: 700px;
  }
.Section1 {
  position: inherit;
  }
table, td, th {
  border: 1px solid black;
  width: 200px;
  }