body {
width: 100%;
}
header {
  height: auto;
  width: inherit;
  font-size: x-large;
  text-decoration: underline;
  text-align: center;
}
.Span1 {
  width:inherit;
  text-decoration:inherit;
}
main {
  height: auto;
  width: inherit;
}
.Section1 {
  position:absolute;
  height: 600px;
  width:50%;
}
.Section2 {
position:relative;
  height: 600px;
  margin-left:50%;
  width:50%;
}
table, td, th {
  border: 1px solid black;
  width: auto;
}
.btnProm {
position: absolute;
    right: 10px;
    width: auto;
}