header {
  position:absolute;
  top: 10px;
  left: 30px;
  height: 40px;
  width: 800px;
  font-size: x-large;
  text-decoration: underline;
}
.Span1 {
  position:inherit;
  width:400px;
  text-decoration:inherit;
}
.Span2 {
  position:inherit;
  left:400px;
  width:400px;
  text-align: right;
}
main {
  position: absolute;
  top: 50px;
  left: 30px;
  height: 600px;
  width: 800px;
}
.Section1 {
  position: inherit;
  height: inherit;
  width: 400px;
}
table, td, th {
  border: 1px solid black;
  width: auto;
}