body {
	height: 100%;
	width: 100%;
	color: white;
	margin: 0px;
	background-image: url("../images/5377426514_3a2368de95_o.jpg");
}
.body-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	min-height: 400px;
	background-color: black;
	margin-top: 15px;
	opacity: .5;

}
.headerbar {
	width: 100%;
	background-color: #f4f4f4;
	height: 100px;
	margin: 0px;
	display: block;
	box-shadow: 1px 1px 5px black;

}
.logo {

}
.content-wrapper{
	width: 70%;
	background-color: #f4f4f4;
	height: 80%;
	margin: 0px;
	display: block;
	float: right;
}
.footer-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	min-height: 75px;
	background-color: black;
	margin-top: 15px;
	opacity: .5;
}